@charset "utf-8";

body{
	font-family: Corbel, sans-serif;
	color: #fae1dfff;	
	background-color: #546a7bff;
	min-width: 480px;
	max-width: 1440px;
	text-align: center;
	margin: 0 auto;
}

h1{
	font-family: Constantia, serif;
	font-size: 3.5em;
	background-color: #0d1f2dff;
	padding: 0;
	margin: 0;
}

h2{
	background-color: #e4c3adff;
	color: #0d1f2dff;
	font-size: 2em;
	padding: 0;
	margin: 0;
}

h3 {
	background-color: #0d1f2dff;
	font-size: 1.8em;
}

p {
	font-size: 1.5em;
}

a{
	color: #9ea3b0ff;
}

hr.horiz {
	border: 3px dotted #9ea3b0ff;
}

/** flex galleries **/
div.gallery {
	display: flex;
}

div.gallery > figure {
	width: 100%;
	height: auto;
}

figure > img {
	border-radius: 45px;
}

div.gallery > p {
	width: 50%;
}

/** color scheme swatches **/

div.dots {
	color: white;
	text-shadow: 1px 1px 2px black;
	vertical-align: center;
}

span > p {
	padding-top: 30px;
}

.blackdot {
	height: 150px;
	width: 150px;
	background-color: #0d1f2dff;
	border: 5px solid white;
	border-radius: 50%;
	display: inline-block;
}

.grey1dot{
	height: 150px;
	width: 150px;
	background-color: #546a7bff;
	border: 5px solid white;
	border-radius: 50%;
	display: inline-block;
}

.grey2dot{
	height: 150px;
	width: 150px;
	background-color: #9ea3b0ff;  
	border: 5px solid white;
	border-radius: 50%;
	display: inline-block;
}

.pinkdot{
	height: 150px;
	width: 150px;
	background-color: #fae1dfff;
	border: 5px solid white;
	border-radius: 50%;
	display: inline-block;
}

.desertdot{
	height: 150px;
	width: 150px;
	background-color: #e4c3adff; 
	border: 5px solid white;
	border-radius: 50%;
	display: inline-block;
}

/** font gallery **/
.font1 {
	font-family: Constantia, serif;
}