<footer>
    <hr>
    <nav>
        <ul>
            <li class="navButton"><a class="navLink" href="https://github.com/bferrel6">github</a></li>
            <li class="navButton"><a class="navLink" href="https://bferrel6.github.io">github.io</a></li>
            <li class="navButton"><a class="navLink" href="https://bferrel6.github.io/web115">WEB115.io </a></li>
            <li class="navButton"><a class="navLink" href="https://www.freecodecamp.org/bferrel6">freecodecamp </a></li>
            <li class="navButton"><a class="navLink" href="https://www.codecademy.com/profiles/bferrel6">codecademy</a></li>
            <li class="navButton"><a class="navLink" href="https://jsfiddle.net/user/bferrel6/fiddles/">jsfiddle</a></li>
            <li class="navButton"><a class="navLink" href="https://www.linkedin.com/in/benjamin-ferrell-7361301a6">LinkedIn</a></li>
        </ul>
    </nav>
    
    <p>Designed by <strong>&copy;Mithril WebForge</strong> - <em>Renowned Across the Multiverse</em></p>
    <div class="validate">	
        <a href="http://validator.w3.org/check?uri=referer" id="validation_link_html">
            Validate HTML
        </a>
    
        <a href="http://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
            Validate CSS
        </a>
        <script src="scripts/validationLinks.js"></script>
    </div>
</footer>