<header>
    <h1>Ben Ferrell's Bleak Fenrir | WEB115</h1>
    <nav>
        <ul>
            <li class="navButton"><a class="navLink" href="index.html">home</a></li>
            <li class="navButton"><a class="navLink" href="introduction.html">introduction</a></li>
            <li class="navButton"><a class="navLink" href="contract.html">contract</a></li>
            <li class="navButton"><a class="navLink" href="brand.html">brand</a></li>
            <li class="navButton"><a class="navLink" href="ccp.html">code play</a></li>
            <li class="navButton"><a class="navLink" href="fizzbuzz0.html">fizzbuzz</a></li>
        </ul>
    </nav>
    <hr>
</header>
