@charset "utf-8";

body {
	margin: 25px;
	font-family: verdana, sans-serif;
	color: #F7E987;
	background-color: #252B48;
	font-size: 125%;
	}	
	
header > img {
	display: float;
	float: right;
	}
	
a {
	color: darkorange;
	}
