@charset "utf-8";

/* main styles */
:root {
	--dark-blue: #0d1f2d;
	--medium-gray: #546a7b;
	--light-gray: #9ea3b0;
	--pink: #fae1df;
	--tan: #e4c3ad;
}

body{
	font-family: Corbel, sans-serif;
	color: var(--pink);	
	background-color: var(--medium-gray);
	min-width: 480px;
	max-width: 1080px;
	margin: 0 25px;
}

.feature {
	line-height: 2;
	margin-right: 20px;
}

.feature figure {
	display: flex;
	justify-content: center;
}

.feature figcaption {
	padding-top: 4.5%;
}

h1 {
	font-family: Constantia, serif;
	text-align: center;
	margin-bottom: 5px;
}

h2 {
	color: var(--tan);
	text-align: center;
}

h3 {
	text-align: center;
	font-size: 1.5em;
}

hr {
	border: 3px dotted var(--dark-blue);
	margin: 2.5% auto;
}

a {
  	color: var(--tan);
}

figcaption {
	text-align: center;
}

/* banner styles */

header h2 {
	display: flex;
	justify-content: center;
}

h2 a {
	display: flex;
	text-decoration: none;
}

a div {
	padding-top: 7.5%;
}

/* navigation bars */
nav{
	display: flex;
	text-align: center;
}

nav a {
	background-color: var(--dark-blue);
	border: 1px solid var(--tan);
	width: 100%;
	padding-top: 20px;
	min-height: 45px;
	color: var(--tan);
	text-decoration: none;
	font-weight: bold;
	align-content: center;
}

.logo {
	padding-top: 0px;
}

nav a:hover {
	background-color: #0d1f2d90;
}

/** image sidebars**/
aside {
	float: right;
}

/** flex galleries **/
.gallery {
	display: flex;
	justify-content: center;
}

.gallery img {
	border-radius: 45px;
}

/** color scheme swatches **/
.dotGallery{
	display: flex;
	justify-content: center;
}

span{
	min-width: 125px;
	height: 125px;
	border: 5px solid white;
	border-radius: 50%;
	margin: auto 3%;
}

span label {
	position: relative;
	color: var(--dark-blue);
	box-shadow: 0 0 5px white;
	background-color: rgba(255,255,255,.5);
	text-align: center;
	top: 40%;
	left: 25%;
}

.blackdot {
	background-color: var(--dark-blue);
}

.grey1dot{
	background-color: var(--medium-gray);
}

.grey2dot{
	background-color: var(--light-gray);  
}

.pinkdot{
	background-color: var(--pink);
}

.desertdot{
	background-color: var(--tan); 
}

/* font gallery */
.serifFont {
	font-family: Constantia, serif;
}

.fonts {
	margin: auto 85px;
	font-size: 2.5em;
	min-width: 190px;
}

/* console code play */
ol.codeplay {
	text-align: left;
}

pre.cp_inputs,
pre.cp_inputs_wrap {
	color: var(--dark-blue); 
	background-color: var(--pink); 
	padding-left: 20px;
	margin-bottom: 0;
}

pre.cp_inputs_wrap {
	padding-top: 0;
	margin-top: 0;
}

div.cp_outputs {
	color: var(--pink); 
	background-color:#0d1f2d80;
	border: 1px solid var(--pink);
	text-indent: 15%;
	padding-top: 0;
	margin-bottom: 40px
}

/*fizzbuzz forms*/

fieldset {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

fieldset div {
	height: 115%;
}

fieldset p {
	display: inline-block;
}

fieldset label{
	display: inline-block;
	text-align: right;
	width: 120px;
}

input{
	margin: 25px 10px;
	font-size: 1.15em;
	color: var(--dark-blue);
	background-color: var(--light-gray);
}

#controls div{
	width: 50%;
}

.formButton {
	width: 25%;
	margin-left: 15%;
	font-size: 1.15em;
	color: var(--dark-blue);
	background-color: var(--pink);
	border: 5px solid var(--dark-blue);
	border-radius: 15px;
}

.formButton:hover {
	background-color: #fae1df75;
}

.formButton:active {
	transform: translateY(3px);
}

.loopText {
	column-count: 5;
	font-size: 10pt;
	border: 1px solid var(--tan);
	color: var(--pink);
	padding: 10px 10px 10px 75px;
}

/*footer and validation links*/
footer {
 	display: block;
	margin-bottom: 40px;
	text-align: center;
}

.validate a { 
  	color: var(--dark-blue);
	background-color: var(--light-gray);
	text-decoration: none;
  	font-weight: bolder;
	border: 1px solid var(--dark-blue);
	padding: 5px 40px;
  	margin: 0 25px;
}

.validate a:hover {
	background-color: var(--pink);
}

/* TOC archive */

/*
ol.toc {
	padding-left: 27%;
}

ol.toc > li {
	width: 60%;
	margin: 25px 0;
}

ol.subtoc > li {
	width: 58%;
	margin: 25px 0;
}
*/