@charset "utf-8";

body{
	font-family: Corbel, sans-serif;
	color: #fae1dfff;	
	background-color: #546a7bff;
	min-width: 480px;
	max-width: 1440px;
  	font-size: 125%;
	margin: 0 25px 0 25px;
}

div.feature{
	line-height: 2;
}

h1{
	font-family: Constantia, serif;
	border-radius: 5px;
	text-align: center;
}

h2{
	color: #e4c3adff;
	text-align: center;
}

h3 {
	background-color: #0d1f2dff;
	border-radius: 5px;
	text-align: center;
}

hr {
	border: 3px dotted #9ea3b0ff;
}

/**stubborn anchor tags**/
.feature > p > a,
li.web115 > a, 
a.figCaption {
  	color: #e4c3adff;
}

/*navigation bars and TOC*/
nav > ul {
	list-style-type: none;
	display: flex;
	padding: 0;
	text-align: center;
}

ol.toc {
	padding-left: 27%;
}

nav > ul > li, 
ol.toc > li,
ol.subtoc > li {
	background-color: #e4c3adff;
	border: 5px solid #0d1f2dff;
	border-radius: 15px;
	padding: 10px;
}

nav > ul > li {
	width: 100%;
}

ol.toc > li {
	width: 60%;
	margin: 25px 0 25px 0;
}

ol.subtoc > li {
	width: 58%;
	margin: 25px 0 25px 0;
}

nav > ul > li:hover,
ol.toc > li:hover,
ol.subtoc > li:hover {
	background-color: #fae1dfff;
}

nav > ul > li > a,
ol.toc > li > a,
li.lh > a,
ol.subtoc > li > a {
  	color: #0d1f2dff;
  	text-decoration: none;
  	font-weight: bold;
}

/** image sidebars**/
.sidebar {
	float: right;
}

/** flex galleries **/
div.gallery {
	display: flex;
}

div.gallery > figure {
	width: 100%;
	height: auto;
	margin-left: 10%;
}

div.gallery > figure > img {
	border-radius: 45px;
}

div.gallery > p {
	width: 50%;
	margin-left: 5%;
}

/** color scheme swatches **/
div.dots {
	color: white;
	text-shadow: 1px 1px 2px black;
	vertical-align: center;
	margin-left: 5%;
}

span > label {
  	vertical-align: -55px;
	margin-left: 25%;
}

span.blackdot,
span.grey1dot,
span.grey2dot,
span.pinkdot,
span.desertdot {
 	height: 150px;
	width: 150px;
	border: 5px solid white;
	border-radius: 50%;
	display: inline-block;
	margin: 0 3% 0 3%;
}

.blackdot {
	background-color: #0d1f2dff;
}

.grey1dot{
	background-color: #546a7bff;
}

.grey2dot{
	background-color: #9ea3b0ff;  
}

.pinkdot{
	background-color: #fae1dfff;
}

.desertdot{
	background-color: #e4c3adff; 
}

/* font gallery */
.font1 {
	font-family: Constantia, serif;
}

/* console code play */
ol.codeplay {
	text-align: left;
}

pre.cp_inputs,
pre.cp_inputs_wrap {
	color: #0d1f2dff; 
	background-color: #fae1dfff; 
	padding: 0 0 0 20px;
	margin-bottom: 0;
}

pre.cp_inputs_wrap {
	padding-top: 0;
	margin-top: 0;
}

div.cp_outputs {
	color: #fae1dfff; 
	background-color:#0d1f2dff;
	border: 1px solid #fae1dfff;
	text-indent: 15%;
	padding-top: 0;
	margin-bottom: 40px
}

/*footer and validation links*/
footer {
 	display: block;
	margin-bottom: 40px;
	text-align: center;
}

div.validate > a { 
  	color: #0d1f2dff;
	background-color: #9ea3b0ff;
	text-decoration: none;
  	font-weight: bolder;
	border: 3px solid #0d1f2dff;
	border-radius: 15px;
	padding: 5px 40px 5px 40px;
  	margin: 0 75px 0 75px;
}

div.validate > a:hover {
	background-color: #fae1dfff;
}

