@charset "utf-8";

/*base styles*/
body {
	margin: 25px;
	font-family: verdana, sans-serif;
	color: #F7E987;
	background-color: #252B48;
	font-size: 125%;
	}

header {
	display: float;
	}

header > figure {
	float: right;
	}

a {
	color: darkorange;
	}

/*navigation styles*/
nav > ul {
	list-style-type: none;
	display: float;
	padding: 5px 5px 5px 0px;
	}

nav > ul > li {
	border: 5px solid darkorange;
	background-color: darkorange;
	float: left;
	padding: 10px;
	}

li > a {
	color: #252B48;
	}

footer {
	padding-top: 15px;
	display: block;
	}