@charset "utf-8";

/* main styles */

:root {
	--dark-blue: #0d1f2d;
	--medium-gray: #546a7b;
	--light-gray: #9ea3b0;
	--pink: #fae1df;
	--tan: #e4c3ad;
}

body{
	font-family: Corbel, sans-serif;
	color: var(--pink);	
	background-color: var(--medium-gray);
	min-width: 480px;
	max-width: 1080px;
	margin: 0 25px;
}

h1{
	font-family: Constantia, serif;
	text-align: center;
}

h2{
	color: var(--tan);
	text-align: center;
}

h3 {
	font-family: Constantia, serif;
	text-align: center;
	font-size: 1.5em;
}

hr {
	border: 3px dotted var(--dark-blue);
	margin: 2.5% auto;
}

a {
	color: var(--tan);
}

#app{
	border: 2px solid var(--dark-blue);
	margin: 15px auto;
	padding: 25px 45px;
	font-size: 14pt;
}

/* banner styles */

header h2 {
	display: flex;
	justify-content: center;
}

/* navigation bars */
nav{
	display: flex;
	text-align: center;
}

nav a {
	background-color: var(--dark-blue);
	border: 1px solid var(--tan);
	width: 100%;
	padding-top: 20px;
	min-height: 45px;
	color: var(--tan);
	text-decoration: none;
	font-weight: bold;
	align-content: center;
}

.logo {
	padding-top: 0px;
}

nav a:hover,
.logo:hover {
	opacity: 0.8;
}

/* footer and validation links */
footer {
	display: block;
	margin-bottom: 40px;
	text-align: center;
}

.validate a { 
  	color: var(--dark-blue);
	background-color: var(--light-gray);
	text-decoration: none;
  	font-weight: bolder;
	border: 1px solid var(--dark-blue);
	padding: 5px 40px;
  	margin: 0 25px;
}


.validate a:hover {
   background-color: var(--pink);
}